.chart{
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px black;
    box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;

    .title{
        margin-bottom: 20px;
    }

    .chartGird{
        stroke: lightgray;
    }
}